 body {
background-color:rgb(228, 228, 228);
  }
table, td, th {
    border: 1px solid rgb(165, 164, 164);
    border-collapse: collapse;
}
th, td{
   padding: 5px;
   text-align: left;
}
figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1px;
  margin-inline-end: 1px;
}
p {
  font-size: 12.5pt;
}