 body {
background-color:rgb(228, 228, 228);
  }
table, td, th {
    border: 1px solid rgb(165, 164, 164);
    border-collapse: collapse;
}
th, td{
   padding: 5px;
   text-align: left;
}
figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1px;
  margin-inline-end: 1px;
}
p {
  font-size: 12.5pt;
}
h4 {
  color:red;
}
h3 {
  color:rgb(0, 153, 255);
}
u {
  color:chocolate;
}
b { 
   color:rgb(24, 90, 24);
}
p#ak1 { 
  font-size: 14pt; 
  color:deeppink;
}
p#ak2 {
  font-size: 16pt; 
  color:darkturquoise;
}
p.t1 {
  font-size: 14pt; 
  color:hotpink;
}
p.t2 {
  font-size: 16pt; 
  color:fuchsia;
}